<header>

	<div class="logo">
		<a href="">
			<img src="{{"../assets/img/FaySchool.svg"}}" alt="" class="logo">
		</a>
	</div>
	<ul id="main-menu">
		<li class="item">
			<a href="">Acceuil</a>
		</li>
		<li class="item">
			<a href="">
				À propos
			</a>
		</li>

	</ul>


</header>
