body {
    background: #161616;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Custom css*/
.title_page {
    text-align: center;
    margin-top: 10px;
}
/* HEADER */
.logo {
    height: 8em;
    width: 8em;
    padding-top: 2px;
    padding-left: 10px;
}

.subject {
    text-align: center;
    color: white;
}
.img {
    width: 135px;
}

h1{
    font-weight: 545;
    font-size: 30px;
}
.second-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.picture {
    border-radius: 10px;
}

.container{
    margin-top: 150px;
}

.text {
    color: #6E6E6E;
    font-size: 12px;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;

}

.picture:hover {
    border: 2px solid red;
    outline-offset: 8px;
    width: 115px;
}


header {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(235, 231, 231);
}
header #main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

header #main-menu .item{
    color: white;
    margin: 0px 30px;
}

header #main-menu .item a{
    
    text-decoration: none;
    color: white;
}

header .login {
    width: 200px;
    height: 40px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


h1 {
    color: white;
}
h2 {
    color: #666666;
}


/* personnel */
 .title {
  text-align: center;
}

/* test */


/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

.main h1{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.main h2{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.main video {
  width: 500px;
  height: 300px;
  max-width: 100%;
  vertical-align: middle;
}

.main .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.main .card_btn {
    background-color: aqua;
    margin: 25px 0 25px;
    
    border-radius: 25px;
}

.main .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.main .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main .cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
    .main .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}